<div class="footer-clean shadow" style="margin-top: 9.02%;">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a role="button" routerLink="/">Home</a></li>
                        <li><a role="button" routerLink="/addProduct">Add Product</a></li>
                        <li><a role="button" routerLink="/viewProduct">View Product</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a role="button">Me</a></li>
                        <li><a role="button">Team</a></li>
                        <li><a role="button">Angular</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a role="button"><i class="icon ion-social-facebook"></i></a><a role="button"><i class="icon ion-social-twitter"></i></a><a role="button"><i class="icon ion-social-snapchat"></i></a><a role="button"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Product Management © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>